@CHARSET "UTF-8";

body {
	margin:0px;
	padding:0px;
	background:url("/img/bg.jpg");
	background-repeat:repeat-x;
	background-color: #01428c;
	font-family:arial;
	font-size: 16px;
	color:#242424;
}

div.asometer
{
	margin:50px auto 0px;
	width: 336px;
	text-align: center;
	padding:20px 10px;
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, #FFFFFF),
    color-stop(0, #B6B8BA)
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    #FFFFFF 100%,
	    #B6B8BA 0%
	);
	-webkit-box-shadow:0 0 10px #313131; 
	-moz-box-shadow: 0 0 10px #313131; 
	box-shadow:0 0 10px #313131;
}

div.asometer p
{
	text-align:left;
	width:287px;
	margin:20px auto;
	line-height:1.5em;
}

div.asometer div.social
{
	margin-top:20px;
}

.twitter-share-button
{
	margin-right:20px;
}

div.asometer span.factor
{
	font-weight:bold;
	color:#cc3333;
	font-size:32px;
	-webkit-text-shadow:1px 1px 2px #313131; 
	-moz-text-shadow: 1px 1px 2px #313131; 
	text-shadow:1px 1px 2px #313131;
}

div.asometer ul {
	margin:0 auto;
	padding:0;
	margin:20px auto;
	list-style-type:none;
	text-align:left;
	font-size:12px;
	width:287px;
}
div.asometer ul li
{
	margin:0;
	padding:0;
	margin-bottom:20px;
}
div.asometer ul li img
{
	float:left;
	margin-right:10px;
}

div.footer 
{
	margin:0 auto;
	width: 356px;
	text-align: right;
	font-size:10px;
	color:#fff;
}

div.footer a
{
	color:#fff;
	text-decoration:none;
}

div.footer a:hover
{
	text-decoration:underline;
}